# dependencies
node_modules
.pnp
.pnp.js

# build output
.output
.nitro
.vinxi
.tanstack
dist
build

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
Thumbs.db

# misc
coverage
*.local
